apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-api
  #namespace: argocd
spec:
  replicas: 4
  selector:
    matchLabels:
      app: hello-api
  template:
    metadata:
      labels:
        app: hello-api
    spec:
      containers:
      - name: hello-api
        image: docker.io/davioletx/hello-python-api:latest
        ports:
        - containerPort: 8000