name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install deps
      run: |
        pip install -r requirements.txt
        pip install pytest flake8 httpx

    - name: Lint
      run: flake8 app

    - name: Test
      run: PYTHONPATH=. pytest